<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ejemploadapter">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EjemploAdapter">
        <activity
            android:name=".MainActivityAcomp"
            android:exported="true" />
        <activity
            android:name=".MainActivityResultado"
            android:exported="true" />
        <activity
            android:name=".MainActivityComplemento"
            android:exported="true" />
        <activity
            android:name=".MainActivityAderezo"
            android:exported="true" />
        <activity
            android:name=".MainActivityCarne"
            android:exported="true" />
        <activity
            android:name=".MainActivityQueso"
            android:exported="true" />
        <activity
            android:name=".MainActivityPan"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>